﻿/*--Begin: Loading Wizard css*/
.splash {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 105;
}

.load {
    margin-top: 1.5em;
}

.splash > div {
    display: flex;
    width: 250px;
    height: 100px;
}

.splash img {
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 300px;
    max-height: 100%;
}

.splash img.load {
    top: 50%;
    margin: 4em auto;
}
/*--End: Loading Wizard css*/

.space-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 2px 0 1px;
}