﻿
@{
    ViewBag.Title = "Activity Log";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="activitylogApp" ng-controller="activitylogCtrl">
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-3" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                    <h2>Activity Log List</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <div class="widget-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover tabel-condensed">
                                <thead>
                                    <tr>
                                        <th>Session ID</th>
                                        <th>Ip Address</th>
                                        <th>UserName</th>
                                        <th>Time Accessed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="al in activityLog">
                                        <td>{{al.SessionID}}</td>
                                        <td>{{al.IpAddress}}</td>
                                        <td>{{al.UserName}}</td>
                                        <td>{{al.TimeAccessed}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td align="center" colspan="6">
                                            <span class="form-group pull-left page-size form-inline">
                                                <select id="ddlPageSize" class="form-control control-color"
                                                        ng-model="pageSizeSelected"
                                                        ng-change="changePageSize()">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </span>
                                            <div class="pull-right">
                                                <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->
<script src="../../Angular/Administrator/ActivityLog.js"></script>