﻿@model ExtraPortal.Models.SupremeUsersModel

@{
    ViewBag.Title = "Create Supreme User";
}
<!-- widget grid -->
<section id="widget-grid" class="" ng-app="userApp" ng-controller="userCtrl">
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false" data-widget-custombutton="false">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Create Supreme User </h2>

                </header>
                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">





                        @using (Html.BeginForm("InsertSupremeUser", null, FormMethod.Post, new { @class = "smart-form", role = "form", id = "contact-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="row">
                                    <section class="col col-8">
                                        <div class="row">
                                            <section class="col col-8">
                                                <label class="label" style="color:blue;">Type 2 chars to Search Users</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-search"></i>
                                                    <input type="text" class="form-control autocomplete" id="Operator">
                                                </label>
                                            </section>
                                            <section class="col col-2" style="height:25px; padding-top:5px;">
                                                <br />
                                                <button class="btn btn-primary" type="button" style="height:25px;" ng-click="GetUserDetails()"><i class="fa fa-search"></i> Get Details</button>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                <hr style="padding-bottom:15px;" />
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Username <span style="color:blue;">*</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            @Html.TextBoxFor(model => model.UserName, new { @readonly = "true", @required = "true", id = "UserName" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Client ID <span style="color:blue;">*</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-info"></i>
                                            @Html.TextBoxFor(model => model.ClientID, new { @readonly = "true", @required = "true", id = "ClientID" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Employee ID </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-info"></i>
                                            @Html.TextBoxFor(model => model.EmployeeID, new { @readonly = "true", id = "EmployeeID" })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Branch </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-info"></i>
                                            @Html.DropDownListFor(model => model.OurBranchID,
                                            new SelectList(Model.BranchList, "OurBranchID", "BranchName"),
                                            new { @class = "form-control", @style = "width:100%;" })
                                        </label>
                                    </section>
                                    @*<section class="col col-6">
                                        <label class="label">Branch </label>
                                        <label class="input">
                                            <i class="icon-append fa fa-info"></i>
                                            @Html.DropDownListFor(model => model.OurBranchID,
                                            new SelectList(Model.BranchList, "OurBranchID", "BranchName"),
                                            new { @class = "js-example-basic-single", @style = "width:100%;" })
                                        </label>
                                    </section>*@
                                </div>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Password <span style="color:blue;">*</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            @Html.PasswordFor(model => model.Password, new { @required = "true" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Confirm Password <span style="color:blue;">*</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            @Html.PasswordFor(model => model.CPassword, new { @required = "true" })
                                            @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "text-danger" })
                                        </label>
                                    </section>
                                </div>

                            </fieldset>

                            <footer>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button>
                            </footer>

                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
    <!-- end row -->

</section>
<!-- end widget grid -->

<script src="../../Angular/SupremeMobile/SupremeUsers.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-1.10.2.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Operator").autocomplete(
            { minLength: 2 },
            {
            source: function (request, response) {
                $.ajax({
                    url: "/AppSupremeMobile/GetBantuUsersOption",
                    type: "GET",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ClientID + " " + item.OperatorID, value: item.OperatorID };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
