﻿@model ExtraPortal.Models.DeviceAssignmentModel

@{
    ViewBag.Title = "Device Assignment";
}

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- col -->
    <div align="left">
        @if (TempData["ModelError"] != null)
        {
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong>
                @TempData["ModelError"]
            </div>

        }
    </div>
    <!-- col -->
    <div align="right" style="padding:5px;">
        <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#AssignUserDeviceModal">
            <i class="fa fa-plus "></i>
            Assign Device
        </button>
    </div>

    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-3" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                    <h2>Devices Assigned to Users </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <div class="widget-body no-padding">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th> User </th>
                                    <th> Device</th>
                                    <th> Status </th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in Model.deviceAssignmentList)
                               {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.DeviceDetails</td>
                                    <td>A</td>
                                    <td>
                                        <button class="btn btn-xs btn-success" data-toggle="tab" data-target="#AddEditDevice" ng-click="getDeviceDetails('@item.UserName')">
                                            <i class="ace-icon fa fa-eye bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                               }
                            </tbody>
                        </table>

                    </div>

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
</section>
<!-- end widget grid -->

<!--  Assign user Device Modal -->
<div class="modal fade" id="AssignUserDeviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">

                    <!-- PAGE HEADER -->
                    Assign user device

                </h4>
            </div>
            <div class="modal-body no-padding">
                @using (Html.BeginForm("AssignUserDevice", null, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "smart-form-register" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <section>
                            <label class="label">User <span style="color:blue;">*</span></label>
                            <label class="input">
                                @Html.DropDownListFor(model => model.UserName,
                                new SelectList(Model.supremeUsers, "UserName", "UserName"),
                                new { @class = "select2" })          
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })                             
                            </label>
                        </section>
                        <section>
                            <label class="label">Device <span style="color:blue;">*</span></label>
                            <label class="input">
                                @Html.DropDownListFor(model => model.DeviceID,
                                new SelectList(Model.supremeDevices, "DeviceID", "DeviceDetails"),
                                new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.DeviceID, "", new { @class = "text-danger" })                                        
                            </label>
                        </section>
                        
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Assign
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>

                    </footer>
                }
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /. Assign user Device modal -->