﻿@model ExtraPortal.Models.SupremeUsersModel

@{
    ViewBag.Title = "Supreme User Approval";
}

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- col -->
    <div align="left">
        @if (TempData["ModelError"] != null)
        {
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong>
                @TempData["ModelError"]
            </div>

        }
    </div>
    <!-- col -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-3" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                    <h2>Pending Approval Users </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <div class="widget-body no-padding">
                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th> User name </th>
                                    <th data-hide="phone,tablet"> Client ID</th>
                                    <th data-class="expand"> Employee ID </th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PendingSupremeUsersList)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.ClientID</td>
                                        <td>@item.EmployeeID</td>
                                        <td>

                                            <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#Details_@item.UserName">view</button>
                                            <!--User Details Modal -->
                                            <div class="modal fade" id="Details_@item.UserName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Details</h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive">

                                                                        <table class="table table-bordered table-striped">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th>Created By</th>
                                                                                    <td>@item.CreatedBy</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Date Created</th>
                                                                                    <td>@item.CreatedON</td>
                                                                                </tr>
                                                                                
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                Cancel
                                                            </button>
                                                        </div>

                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.  User Details modal -->


                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#ApproveUser_@item.UserName">Approve</button>

                                            <!--Approve User Modal -->
                                            <div class="modal fade" id="ApproveUser_@item.UserName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">

                                                                <!-- PAGE HEADER -->
                                                                <i class="fa-fw fa fa-check"></i>
                                                                Approve User?

                                                            </h4>
                                                        </div>
                                                        <div class="modal-body no-padding">
                                                            @using (Html.BeginForm("ApproveSupremeUser", null, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "smart-form-register" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <section class="col col-12">
                                                                            Are you sure you want to Approve the User <strong>@item.UserName</strong>?
                                                                            <input type="hidden" class="form-control" name="UserName" value="@item.UserName" />

                                                                        </section>
                                                                    </div>

                                                                </fieldset>

                                                                                    <footer>
                                                                                        <button type="submit" class="btn btn-primary">
                                                                                            Yes
                                                                                        </button>
                                                                                        <button type="submit" class="btn btn-default" data-dismiss="modal">
                                                                                            Cancel
                                                                                        </button>

                                                                                    </footer>
                                                            }
                                                        </div>

                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div>
                                            <!-- /. Approve User modal -->

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
</section>
<!-- end widget grid -->

