﻿@model ExtraPortal.Models.SupremeDevicesModel

@{
    ViewBag.Title = "Supreme Devices";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="devicesApp" ng-controller="devicesCtrl">
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#Devices"><i class="fa fa-cogs"></i> <span class="hidden-mobile hidden-tablet">Devices </span></a>
                        </li>
                        
                    </ul>
                </header>
                <!-- widget div-->
                <div class="no-padding">

                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <!-- begin Devices tab pane -->
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="Devices">
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Serial Number </th>
                                                        <th>Device Model</th>
                                                        <th>Device ID </th>
                                                        <th>Product Name </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   @foreach (var item in Model.supremeDevicesList)
                                                   {
                                                    <tr>
                                                        <td>@item.DeviceNumber.ToString()</td>
                                                        <td>@item.DeviceModel</td>
                                                        <td>@item.DeviceID</td>
                                                        <td>@item.ProductName</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-success" data-toggle="tab" data-target="#AddEditDevice" ng-click="getDeviceDetails('@item.DeviceNumber')">
                                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                   }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <!-- end Devices tab pane -->
                           
                            <!-- AddEdit Device tab pane -->
                            <div class="tab-pane padding-10 fade" id="AddEditDevice">
                                <div>
                                    <button class="btn btn-xs btn-succes" data-toggle="tab" data-target="#Devices">
                                        <i class="ace-icon fa fa-arrow-left blue bigger-110 middle"></i>
                                        Back
                                    </button>

                                    <div id="response"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <form method="post" id="contact-form" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Device Number <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" name="DeviceNumber" id="DeviceNumber" readonly="true" ng-model="DeviceNumber">
                                                            <input type="hidden" class="form-control" value="1" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Device Model <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" name="DeviceModel" id="DeviceModel" readonly="true" ng-model="DeviceModel">
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Device ID <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" name="DeviceID" id="DeviceID" readonly="true" ng-model="DeviceID">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Product Name <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" name="ProductName" id="ProductName" readonly="true" ng-model="ProductName">
                                                        </label>
                                                    </section>
                                                </div>
                                                
                                                <hr style="padding-bottom:15px;" />
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Android Version</label>
                                                        <label class="input">
                                                            <input type="text" name="AndroidVersion" id="AndroidVersion" ng-model="AndroidVersion" ng-disabled="!Edit">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Product Type</label>                                                        
                                                        <label class="select">
                                                            <select ng-disabled="!Edit" id="ProductType" name="ProductType">
                                                                <option value="Tablet">Tablet</option>
                                                                <option value="Phone">Phone</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Memory</label>
                                                        <label class="input">
                                                            <input type="text" name="Memory" id="Memory" ng-model="Memory" ng-disabled="!Edit">
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Storage</label>
                                                        <label class="input">
                                                            <input type="text" name="Storage" id="Storage" ng-model="Storage" ng-disabled="!Edit">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Speed</label>
                                                        <label class="input">
                                                            <input type="text" name="Speed" id="Speed" ng-model="Speed" ng-disabled="!Edit">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Size</label>
                                                        <label class="input">
                                                            <input type="text" name="Size" id="Size" ng-model="Size" ng-disabled="!Edit">
                                                        </label>
                                                    </section>
                                                </div>
                                                
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Weight</label>
                                                        <label class="input">
                                                            <input type="text" name="Weight" id="Weight" ng-model="Weight" ng-disabled="!Edit">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Color</label>
                                                        <label class="input">
                                                            <input type="text" name="Color" id="Color" ng-model="Color" ng-disabled="!Edit">
                                                        </label>
                                                    </section>

                                                </div>

                                                <hr style="padding-bottom:15px;" />
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Created By</label>
                                                        <label class="input">
                                                            <input type="text" name="CreatedBy" id="CreatedBy" readonly="true" ng-model="CreatedBy">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Approved By</label>
                                                        <label class="input">
                                                            <input type="text" name="ApprovedBy" id="ApprovedBy" readonly="true" ng-model="ApprovedBy">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Modified Date</label>
                                                        <label class="input">
                                                            <input type="text" name="EditedBy" id="EditedBy" readonly="true" ng-model="EditedBy">
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Created Date</label>
                                                        <label class="input">
                                                            <input type="text" name="CreatedDate" id="CreatedDate" readonly="true" ng-model="CreatedDate">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Approved Date</label>
                                                        <label class="input">
                                                            <input type="text" name="DateApproved" id="DateApproved" readonly="true" ng-model="DateApproved">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Modified Date</label>
                                                        <label class="input">
                                                            <input type="text" name="EditedDate" id="EditedDate" readonly="true" ng-model="EditedDate">
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>

                                        </form>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="Add()" ng-disabled="!Edit1">
                                            <i class="fa fa-plus"></i>
                                            Add
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="EditDetails()" ng-disabled="!Edit2">
                                            <i class="fa fa-pencil"></i>
                                            Edit
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-success btn-round" ng-click="SaveEditSupremeDevice()" ng-disabled="!Edit" style="width:100%;">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        @*<div class="space-2"></div>
                                        <button class="btn btn-white btn-danger btn-round" data-toggle="modal" data-target="#ConfirmIndContact" ng-disabled="!Edit3" style="width:100%;">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>*@
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-warning btn-round" ng-click="Reset()" style="width:100%;">
                                            <i class="fa fa-times-o"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- end AddEdit Device tab pane -->
                            
                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
    <!-- end row -->
    
</section>
<!-- end widget grid -->
<script src="../../Angular/SupremeMobile/SupremeDevices.js"></script>