﻿@model ExtraPortal.Models.DisableEnableUSSDSubscribersModel

@{
    ViewBag.Title = "DisableEnable";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="disableenableApp" ng-controller="disableenableCtrl">
    <!-- col -->
    <div align="left">
        @if (TempData["ModelError"] != null)
        {
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong>
                @TempData["ModelError"]
            </div>

        }
    </div>
    <!-- col -->
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#Disable"><i class="fa fa-times"></i> <span class="hidden-mobile hidden-tablet">Disable/Block </span></a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#Enable"><i class="fa fa-check"></i> <span class="hidden-mobile hidden-tablet">Enable </span></a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#Blocked"><i class="fa fa-users"></i> <span class="hidden-mobile hidden-tablet">Blocked Subscribers <span class="badge inbox-badge bg-color-greenLight">@Model.BlockedCount</span></span></a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#ApproveUnblocking"><i class="fa fa-check"></i> <span class="hidden-mobile hidden-tablet">Approve Unblocking <span class="badge inbox-badge bg-color-greenLight">@Model.PendingApproval</span></span></a>
                        </li>
                    </ul>
                </header>
                <!-- widget div-->
                <div class="no-padding">

                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <!-- begin Disable tab pane -->
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="Disable">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @using (Html.BeginForm("DisableUSSDSubscriber", null, FormMethod.Post, new { @class = "smart-form", @id = "contact-form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-8">
                                                        <div class="row">
                                                            <section class="col col-8">
                                                                <label class="label" style="color:blue;">Type 3 chars to Search Subscribers</label>
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-search"></i>
                                                                    <input type="text" class="form-control autocomplete" id="ClientName">
                                                                </label>
                                                            </section>
                                                            <section class="col col-2" style="height:25px; padding-top:5px;">
                                                                <br />
                                                                <button class="btn btn-primary" type="button" style="height:25px;" ng-click="GetClientDetails()"><i class="fa fa-search"></i> Get Details</button>
                                                            </section>
                                                        </div>
                                                    </section>
                                                </div>
                                                <hr style="padding-bottom:15px;" />
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Name <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" ng-disabled="!DEdit" ng-model="DName">
                                                            <input type="hidden" name="ContactID" id="DContactID">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Mobile <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" ng-disabled="!DEdit" ng-model="DMobile">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Reason <span style="color:blue;">*</span></label>
                                                        <label class="textarea">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <textarea rows="4" name="BlockedReason"></textarea>
                                                        </label>
                                                    </section>

                                                </div>

                                            </fieldset>

                                            <footer align="right">
                                                <button class="btn btn-warning" type="submit">
                                                    <i class="fa fa-times"></i>
                                                    Disable/Block
                                                </button>
                                            </footer>

                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- end Disable tab pane -->
                            <!-- begin Enable tab pane -->
                            <div class="tab-pane padding-10 fade" id="Enable">

                                <div class="row">
                                    <div class="col-sm-12">
                                        @using (Html.BeginForm("EnableUSSDSubscriber", null, FormMethod.Post, new { @class = "smart-form", @id = "contact-form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-8">
                                                        <div class="row">
                                                            <section class="col col-8">
                                                                <label class="label" style="color:blue;">Type 3 chars to Search Blocked Subscribers</label>
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-search"></i>
                                                                    <input type="text" class="form-control autocomplete" id="EClientName">
                                                                </label>
                                                            </section>
                                                            <section class="col col-2" style="height:25px; padding-top:5px;">
                                                                <br />
                                                                <button class="btn btn-primary" type="button" style="height:25px;" ng-click="GetEClientDetails()"><i class="fa fa-search"></i> Get Details</button>
                                                            </section>
                                                        </div>
                                                    </section>
                                                </div>
                                                <hr style="padding-bottom:15px;" />
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Name <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" ng-disabled="!EEdit" ng-model="EName">
                                                            <input type="hidden" name="ContactID" id="EContactID">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Phone</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" ng-disabled="!EEdit" ng-model="EPhone">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Gender</label>
                                                        <label class="select">
                                                            <select ng-disabled="!EEdit" id="EGender">
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Mobile <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" readonly="true" name="Mobile" ng-model="EMobile">
                                                        </label>
                                                    </section>
                                                </div>

                                            </fieldset>

                                            <footer align="right">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-check"></i>
                                                    Enable
                                                </button>
                                            </footer>

                                        }
                                    </div>
                                </div>

                            </div>
                            <!-- end Enable tab pane -->
                            <!-- begin Blocked Subscribers tab pane -->
                            <div class="tab-pane padding-10 fade" id="Blocked">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th data-hide="phone"> Client ID </th>
                                                        <th data-class="expand"> Name </th>
                                                        <th data-hide="phone,tablet"> Mobile</th>
                                                        <th data-hide="phone,tablet"> Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Iclm)
                                                    {
                                                        <tr>
                                                            <td>@item.ClientID</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.Mobile</td>

                                                            <td>

                                                                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#Details_@item.ContactID"><i class="fa fa-eye"></i></button>
                                                                <!--Blocked subscriber Details Modal -->
                                                                <div class="modal fade" id="Details_@item.ContactID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                    &times;
                                                                                </button>
                                                                                <h4 class="modal-title" id="myModalLabel">Details</h4>
                                                                            </div>

                                                                            <div class="modal-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div class="table-responsive">

                                                                                            <table class="table table-bordered table-striped">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <th>Blocked By</th>
                                                                                                        <td>@item.BlockedBy</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <th>Blocked Date</th>
                                                                                                        <td>@item.BlockedDate</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <th>Blocked Reason</th>
                                                                                                        <td>@item.BlockedReason</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                                    Cancel
                                                                                </button>
                                                                            </div>

                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div>
                                                                <!-- /. Blocked subscriber Details modal -->
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end Blocked Subscribers tab pane -->
                            <!-- begin Blocked Subscribers tab pane -->
                            <div class="tab-pane padding-10 fade" id="ApproveUnblocking">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table id="dt_basic1" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th data-hide="phone"> Client ID </th>
                                                        <th data-class="expand"> Name </th>
                                                        <th data-hide="phone,tablet"> Mobile</th>
                                                        <th data-hide="phone,tablet"> Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.iclmlist)
                                                    {
                                                        <tr>
                                                            <td>@item.ClientID</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.Mobile</td>

                                                            <td>

                                                                <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#Approve_@item.ContactID"><i class="fa fa-eye"></i></button>
                                                                <!--Approve Customer Modal -->
                                                                <div class="modal fade" id="Approve_@item.ContactID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                    &times;
                                                                                </button>
                                                                                <h4 class="modal-title">

                                                                                    <!-- PAGE HEADER -->
                                                                                    <i class="fa-fw fa fa-check"></i>
                                                                                    Approve Unblocking?

                                                                                </h4>
                                                                            </div>
                                                                            <div class="modal-body no-padding">
                                                                                @using (Html.BeginForm("ApproveUnblocking", null, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "smart-form-register" }))
                                                                                {
                                                                                    @Html.AntiForgeryToken()
                                                                                    <fieldset>
                                                                                        <div class="row">
                                                                                            <section class="col col-12">
                                                                                                Are you sure you want to Approve the unblocking of the Customer <strong>@item.ClientID - @item.Name</strong>?
                                                                                                <input type="hidden" class="form-control" name="ContactID" value="@item.ContactID" />
                                                                                                <input type="hidden" class="form-control" name="ServiceType" value="@item.ServiceType" />
                                                                                                <input type="hidden" class="form-control" name="Mobile" value="@item.Mobile" />
                                                                                            </section>
                                                                                        </div>

                                                                                    </fieldset>

                                                                                    <footer>
                                                                                        <button type="submit" class="btn btn-primary">
                                                                                            Yes
                                                                                        </button>
                                                                                        <button type="submit" class="btn btn-default" data-dismiss="modal">
                                                                                            Cancel
                                                                                        </button>

                                                                                    </footer>
                                                                                }
                                                                            </div>

                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div>
                                                                <!-- /. Approve Customer modal -->
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- end Blocked Subscribers tab pane -->
                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->
<script src="../../Angular/USSD/DisableEnable.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-1.10.2.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ClientName").autocomplete(
            { minLength: 3 },
            {
                source: function (request, response) {
                    $.ajax({
                        url: "/AppUSSD/GetUSSDSubscriberOption",
                        type: "GET",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.ClientID + " " + item.Name, value: item.ClientID };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
    })

    $(document).ready(function () {
        $("#EClientName").autocomplete(
            { minLength: 3 },
            {
                source: function (request, response) {
                    $.ajax({
                        url: "/AppUSSD/GetDisabledUSSDSubscriberOption",
                        type: "GET",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.ClientID + " " + item.Name, value: item.ClientID };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
    })
</script>
