﻿@model ExtraPortal.Models.PINManagementModel

@{
    ViewBag.Title = "PINManagement";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="pinmgtApp" ng-controller="pinmgtCtrl">
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-8" data-widget-editbutton="false" data-widget-custombutton="false">
                <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>PIN Management </h2>

                </header>
                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        @using (Html.BeginForm("ChangePIN", null, FormMethod.Post, new { @class = "smart-form", role = "form", id = "contact-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="row">
                                    <section class="col col-8">
                                        <div class="row">
                                            <section class="col col-8">
                                                <label class="label" style="color:blue;">Type 3 chars to Search Subscribers</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-search"></i>
                                                    <input type="text" class="form-control autocomplete" id="ClientName">
                                                </label>
                                            </section>
                                            <section class="col col-2" style="height:25px; padding-top:5px;">
                                                <br />
                                                <button class="btn btn-primary" type="button" style="height:25px;" ng-click="GetClientDetails()"><i class="fa fa-search"></i> Get Details</button>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                <hr style="padding-bottom:15px;" />
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">Name</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" ng-model="Name" readonly="true">
                                            <input type="hidden" name="ContactID" id="ContactID">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Mobile</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-phone"></i>
                                            @Html.TextBoxFor(model => model.Mobile, new { @readonly = "true", ng_model = "Mobile" })
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label">New PIN <span style="color:blue;">* (Numbers only)</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            @Html.PasswordFor(model => model.Pin, new { @class = "numbersonly", @maxlength = "4", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="label">Confirm PIN <span style="color:blue;">* (Numbers only)</span></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-key"></i>
                                            @Html.PasswordFor(model => model.CPin, new { @class = "numbersonly", @maxlength = "4", @required = "true" })
                                            @Html.ValidationMessageFor(model => model.CPin, "", new { @class = "text-danger" })
                                        </label>
                                    </section>
                                </div>

                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary">Change PIN</button>
                            </footer>

                        }

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
</section>
<!-- end widget grid -->


<script src="../../Angular/USSD/PINManagement.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-1.10.2.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-ui.js"></script>

<script type="text/javascript">


    $(document).ready(function () {
        $("#ClientName").autocomplete(
            { minLength: 3 },
            {
            source: function (request, response) {
                $.ajax({
                    url: "/AppUSSD/GetUSSDSubscriberOption",
                    type: "GET",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ClientID + " " + item.Name, value: item.ClientID };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
