﻿
@{
    ViewBag.Title = "Subscribers";
}

<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-3" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                    <h2>Subscribers List</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <div class="widget-body no-padding">
                        <table id="dt_subscribers" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th> Client ID </th>
                                    <th data-class="expand"> Name </th>
                                    <th data-hide="phone,tablet"> Mobile</th>
                                    <th data-hide="phone"> Gender</th>
                                    <th data-hide="phone"> Status</th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->
</section>
<!-- end widget grid -->

