﻿<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">ExtraPortal © 2018 - @DateTime.Now.Year</span>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">

        </div>
    </div>
</div>

