﻿<!DOCTYPE html>
<html>
<head>   
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> @ViewBag.Title - ExtraPortal </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Basic Styles -->
    @*@Styles.Render("~/assets/extraportal")*@
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css">
    <link href="../../Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-production.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-skins.min.css" rel="stylesheet" />
    
    <!-- Custom Styles -->
    @*@Styles.Render("~/assets/custom")*@
    <link href="../../Assets/css/custom.css" rel="stylesheet" />
    <link href="../../Assets/plugins/select2/select2.min.css" rel="stylesheet" />
    
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="../../Assets/img/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../Assets/img/favicon/favicon.png" type="image/x-icon">
    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Assets/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Assets/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Assets/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    @*@Scripts.Render("~/scripts/angular")*@
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/Resources/ui-bootstrap-tpls-0.13.4.min.js"></script>
    
    @*<link href="../../Assets/plugins/autocomplete/jquery-ui.css" rel="stylesheet" />*@
</head>
<body class="smart-style-3 fixed-page-footer fixed-header fixed-ribbon">
    <!-- #HEADER -->
    @Html.Partial("_HeaderPartial")
    <!-- END HEADER -->

    <!-- #NAVIGATION -->
    @*@Html.Partial("_NavigationPartial")*@
    @Html.Action("ModuleAccess", "System")
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        @Html.Partial("_RibbonPartial")
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content">
            <div id="loader" class="splash">
                <div>
                    <img src="../../Assets/img/ajax-loader.gif" />
                </div>
            </div>
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <!-- PAGE FOOTER -->
    @Html.Partial("_FooterPartial")
    <!-- END PAGE FOOTER -->

    <!-- PAGE FOOTER -->
    @Html.Partial("_ScriptsPartial")
    <!-- END PAGE FOOTER -->
    
    <script type="text/javascript">
        jQuery(function ($) {
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2({ minimumInputLength: 3 });

            $("#ClientArea").hide();
        })
    </script>
</body>
</html>
