﻿@model ExtraPortal.Models.UserAccessRightsModel
<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    <div class="login-info">
        <div class="btn-group dropdown">
            <span class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                <a href="javascript:void(0);">
                    <img src="~/Assets/img/avatars/male.png" alt="me" class="online" />
                    <span>
                        @Session["KE_UserName"]
                        
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </span>
            <ul class="dropdown-menu">
                @*<li><a data-toggle="modal" href="#"><i class="fa fa-user"></i>&nbsp;My profile</a></li>*@
                <li><a href="/Security/SignOut" title="Sign Out" data-action="userLogout" data-logout-msg="Are you sure you want to sign out your session?"><i class="fa fa-sign-out"></i>&nbsp;Log Out</a></li>
            </ul>
        </div>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    <nav>
        <ul>
            
            @foreach (var mainmenu in Model.mainmodule)
            {
                if (mainmenu.MainModuleID == 100)
                {
                    
                    if (TempData["MenuID"].ToString() == mainmenu.MainModuleName)
                    {
                        <li class="active">
                            <a href="@Url.Action("Dashboard", "Home") " title="Dashboard">
                                <i class="@mainmenu.MainModuleIcon"></i>
                                <span class="menu-item-parent">@mainmenu.MainModuleName</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Dashboard", "Home") " title="Dashboard">
                                <i class="@mainmenu.MainModuleIcon"></i>
                                <span class="menu-item-parent">@mainmenu.MainModuleName</span>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <li>
                        <a href="#">
                            <i class="@mainmenu.MainModuleIcon"></i>
                            <span class="menu-item-parent">@mainmenu.MainModuleName</span>
                        </a>

                        <ul>
                            @foreach (var Module in Model.modules)
                            {
                                if (Module.MainModuleID == mainmenu.MainModuleID && TempData["MenuID"].ToString() == Module.ModuleName)
                                {
                                    <li class="active">
                                        <a href="@Url.Action(Module.Action, Module.Controller)">
                                            <i class="fa fa-angle-double-right"></i>
                                            @Module.ModuleName
                                        </a>
                                    </li>
                                }
                                else if(Module.MainModuleID == mainmenu.MainModuleID && TempData["MenuID"].ToString() != Module.ModuleName)
                                {
                                        <li>
                                            <a href="@Url.Action(Module.Action, Module.Controller)">
                                                <i class="fa fa-angle-double-right"></i>
                                                @Module.ModuleName
                                            </a>
                                        </li>
                                    
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->
