﻿<!-- RIBBON -->
<div id="ribbon">

    <span class="ribbon-button-alignment">

    </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><i class="fa fa-lg fa-fw fa-home"></i>  @ViewBag.PageTitle</li>
    </ol>    
</div>

<!-- END RIBBON -->
