﻿<!-- IMPORTANT: Mandatory Scripts -->
@*@Scripts.Render("~/scripts/mandatory")*@
<script src="../../Assets/js/libs/jquery-2.1.1.min.js"></script>
<script src="../../Assets/js/libs/jquery-ui-1.10.3.min.js"></script>

<!-- IMPORTANT: SmartAdmin Core -->
@*@Scripts.Render("~/scripts/extraportal")*@
<script src="../../Assets/js/app.config.js"></script>
<script src="../../Assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
<script src="../../Assets/js/bootstrap/bootstrap.min.js"></script>
<script src="../../Assets/js/notification/SmartNotification.min.js"></script>
<script src="../../Assets/js/smartwidgets/jarvis.widget.min.js"></script>
<script src="../../Assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="../../Assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
<script src="../../Assets/js/plugin/select2/select2.min.js"></script>
<script src="../../Assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
<script src="../../Assets/js/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="../../Assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
<script src="../../Assets/js/plugin/fastclick/fastclick.min.js"></script>
<script src="../../Assets/js/app.min.js"></script>

<!-- SmartChat UI : plugin -->
@*@Scripts.Render("~/scripts/smart-chat")*@

<!-- DataTables : plugin -->
@*@Scripts.Render("~/scripts/datatables")*@
<script src="../../Assets/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="../../Assets/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="../../Assets/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="../../Assets/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="../../Assets/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

<!-- jQGrid : plugin -->
@*@Scripts.Render("~/scripts/jq-grid")*@

<!-- Forms : plugin -->
@*@Scripts.Render("~/scripts/forms")*@
<script src="../../Assets/js/plugin/jquery-form/jquery-form.min.js"></script>

<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
@*@Scripts.Render("~/scripts/charts")*@

<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
@*@Scripts.Render("~/scripts/vector-map")*@

<!-- Full Calendar -->
@*@Scripts.Render("~/scripts/full-calendar")*@

<!-- Select 2 -->
@*@Scripts.Render("~/scripts/plugins")*@
<script src="../../Assets/plugins/select2/select2.min.js"></script>


<!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
<script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        $(".numbersonly").forceNumeric();
    });

    // forceNumeric() plug-in implementation
    jQuery.fn.forceNumeric = function () {
        return this.each(function () {
            $(this).keydown(function (e) {
                var key = e.which || e.keyCode;

                if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                    // numbers   
                    key >= 48 && key <= 57 ||
                    // Numeric keypad
                    key >= 96 && key <= 105 ||
                    // comma, period and minus, . on keypad
                   key == 190 || key == 188 || key == 109 || key == 110 ||
                    // Backspace and Tab and Enter
                   key == 8 || key == 9 || key == 13 ||
                    // Home and End
                   key == 35 || key == 36 ||
                    // left and right arrows
                   key == 37 || key == 39 ||
                    // Del and Ins
                   key == 46 || key == 45)
                    return true;

                return false;
            });
        });
    }


    $(document).ready(function () {
        pageSetUp();

        $(document).ready(function() {
            var success = @((TempData["Success"] != null).ToString().ToLower());

            if (success == true) {
                $.smallBox({
                    title : "Success",
                    content : "<i class='fa fa-check'></i> <i>Successfully!</i>",
                    color : "#739E73",
                    iconSmall : "fa fa-thumbs-up bounce animated",
                    timeout : 4000
                });
            }
        });

        $(document).ready(function() {
            var error = @((TempData["Error"] != null).ToString().ToLower());

            if (error == true) {
                $.smallBox({
                    title : "Error",
                    content : "<i class='fa fa-warning'></i> <i>Technical Error!</i>",
                    color : "#C46A69",
                    iconSmall : "fa fa-warning bounce animated",
                    timeout : 4000
                });
            }
        });

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet : 1024,
            phone : 480
        };

        $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback" : function(nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
                responsiveHelper_dt_basic.respond();
            },
				    
            "bSort": false
				    
        })
        /* END BASIC */ 

        $('#dt_basic1').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
                "t"+
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback" : function(nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
                responsiveHelper_dt_basic.respond();
            },
				    
            "bSort": false
				    
        })


        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            //"bFilter": false,
            //"bInfo": false,
            //"bLengthChange": false
            //"bAutoWidth": false,
            //"bPaginate": false,
            //"bStateSave": true // saves sort state using localStorage
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_fixed_column) {
                    responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                }
            },
            "rowCallback" : function(nRow) {
                responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
                responsiveHelper_datatable_fixed_column.respond();
            }

        });

        // custom toolbar
        $("div.toolbar").html('<div class="text-right"><img src="img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on( 'keyup change', function () {

            otable
                .column( $(this).parent().index()+':visible' )
                .search( this.value )
                .draw();

        } );
        /* END COLUMN FILTER */

        /* COLUMN SHOW - HIDE */
        $('#datatable_col_reorder').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "autoWidth" : true,
            "preDrawCallback" : function() {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_col_reorder) {
                    responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                }
            },
            "rowCallback" : function(nRow) {
                responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
                responsiveHelper_datatable_col_reorder.respond();
            }
        });

        /* END COLUMN SHOW - HIDE */

        /* TABLETOOLS */
        $('#datatable_tabletools').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
                    "t"+
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            "autoWidth" : true,
            "preDrawCallback" : function() {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools) {
                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                }
            },
            "rowCallback" : function(nRow) {
                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            },
            "drawCallback" : function(oSettings) {
                responsiveHelper_datatable_tabletools.respond();
            }
        });

        /* END TABLETOOLS */


    });

    setTimeout(function () {
        $('#loader').remove();
    }, 1000);

    $(document).ready(function () {
        $("#dt_subscribers").dataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/AppUSSD/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ClientID", "name": "ClientID", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Mobile", "name": "Mobile", "autoWidth": true },
                    { "data": "Gender", "name": "Gender", "autoWidth": true },
                    { "data": "IsBlocked", "name": "IsBlocked", "autoWidth": true }
            ]
        });
    });

    $('.js-example-basic-single').select2();
</script>

@if (@Model is HelperResult)
{
    @Model
}