﻿@model ExtraPortal.Models.LoginModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>Login - ExtraPortal</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    @*@Styles.Render("~/assets/extraportal")*@
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> 
    <link href="../../Assets/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="../../Assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-production.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-rtl.min.css" rel="stylesheet" />
    <link href="../../Assets/css/smartadmin-skins.min.css" rel="stylesheet" />
    <!-- Custom Styles -->
    @*@Styles.Render("~/assets/custom")*@
    <link href="../../Assets/css/custom.css" rel="stylesheet" />
    <link href="../../Assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- SmartAdmin RTL Support is under construction
         This RTL CSS will be released in version 1.5
    <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->
    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    @*<link rel="stylesheet" type="text/css" media="screen" href="../../Assets/css/demo.min.css">*@

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="../../Assets/img/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../Assets/img/favicon/favicon.png" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="../../Assets/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Assets/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Assets/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Assets/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="../../Assets/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

</head>

<body class="animated fadeInDown">

    <header id="header">

        <div id="logo-group">
            <span id="logo"> <img src="../../Assets/img/logo.png" alt="SodetsoHRM"> </span>
        </div>


    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-lg-offset-4">

                    <!-- col -->
                    <div align="center" style="padding-bottom:2px;">
                        @if (TempData["LoginError"] != null)
                        {
                            <div class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-times"></i>
                                <strong>Error!</strong> Wrong Username/Password.
                            </div>

                        }
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div align="left">
                        @if (TempData["ModelError"] != null)
                        {
                            <div class="alert alert-danger fade in">
                                <button class="close" data-dismiss="alert">
                                    ×
                                </button>
                                <i class="fa-fw fa fa-times"></i>
                                <strong>Error!</strong>
                                @TempData["ModelError"]
                            </div>

                        }
                    </div>

                    <div class="well no-padding">

                        @using (Html.BeginForm("WebLogin", null, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "login-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <header>
                                Sign In
                            </header>

                            <fieldset>
                                <section>
                                    <label class="label">Branch</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        @Html.DropDownListFor(model => model.OurBranchID,
                                            new SelectList(Model.BranchList, "OurBranchID", "BranchName"),
                                            new { @class = "js-example-basic-single", @style = "width:100%;" })
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Username <span style="color:blue;">*</span></label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username", @required = "true", onkeydown = "upperCaseF(this)" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        <b class="tooltip tooltip-bottom-right">Enter Email</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">Password <span style="color:blue;">*</span></label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", id = "Password", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        <b class="tooltip tooltip-bottom-right">Enter your password</b>
                                    </label>
                                    <div class="note">
                                        <a href="forgotpassword.html">Forgot password?</a>
                                    </div>
                                </section>

                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Sign in
                                </button>
                            </footer>
                        }

                    </div>

                    <h5 class="text-center"> ExtraPortal © @DateTime.Now.Year</h5>
                </div>
            </div>
        </div>

    </div>
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="../../Assets/js/libs/jquery-2.1.1.min.js"></script>
    <script src="../../Assets/js/libs/jquery-ui-1.10.3.min.js"></script>

    @*@Scripts.Render("~/scripts/extraportal")*@
    <script src="../../Assets/js/app.config.js"></script>
    <script src="../../Assets/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="../../Assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../Assets/js/notification/SmartNotification.min.js"></script>
    <script src="../../Assets/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="../../Assets/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <script src="../../Assets/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="../../Assets/js/plugin/select2/select2.min.js"></script>
    <script src="../../Assets/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="../../Assets/js/plugin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../Assets/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="../../Assets/js/plugin/fastclick/fastclick.min.js"></script>
    
    <script src="../../Assets/js/app.min.js"></script>
    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $('.js-example-basic-single').select2();

        })
    </script>

    <script type="text/javascript">
        runAllForms();

        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Please enter your email address',
							email : 'Please enter a VALID email address'
						},
						password : {
							required : 'Please enter your password'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});
    </script>

</body>
</html>