﻿
@{
    ViewBag.Title = "Corporate Contacts";
}

<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4" style="padding-bottom:5px;">
        @if (TempData["ModelsError"] != null)
        {
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong>  @TempData["ModelsError"]
            </div>

        }
    </div>
    <!-- col -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!-- sparks -->
        <ul id="sparks">
            <!-- Button trigger modal -->
            <a href="/CRM/IndividualContacts" class="btn btn-default" data-toggle="modal" ><i class="fa-fw fa fa-user"></i> Individual</a>
            <a href="#" class="btn btn-default" data-toggle="modal" style="background-color:#ef873d; border-color:#ef873d; color:white;"><i class="fa-fw fa fa-briefcase"></i> Corporate</a>
            <a href="#" class="btn btn-default" data-toggle="modal"><i class="fa-fw fa fa-desktop"></i> Bantu</a>
            <a href="#" class="btn btn-default" data-toggle="modal"><i class="fa-fw fa fa-users"></i> Group</a>

        </ul>
        <!-- end sparks -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
