﻿
@{
    ViewBag.Title = "Contacts";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="contactsApp" ng-controller="contactsCtrl">
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#Individual"><i class="fa fa-user"></i> <span class="hidden-mobile hidden-tablet">Customer <span class="badge inbox-badge bg-color-greenLight">{{Ind_totalCount}}</span></span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Corporate"><i class="fa fa-briefcase"></i> <span class="hidden-mobile hidden-tablet">Corporate <span class="badge inbox-badge bg-color-greenLight">{{Cor_totalCount}}</span></span></a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#Group"><i class="fa fa-users"></i> <span class="hidden-mobile hidden-tablet">Groups <span class="badge inbox-badge bg-color-greenLight">{{g_totalCount}}</span></span></a>
                        </li>
                    </ul>
                </header>
                <!-- widget div-->
                <div class="no-padding">

                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <!-- begin Individual tab pane -->
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="Individual">
                                <!-- row -->
                                <div class="row">
                                    <div style="float:right; padding-bottom:5px;padding-right:15px;">
                                        <button class="btn btn-default" data-toggle="tab" data-target="#AddEditIndividual" ng-click="ClearAllInd()">
                                            <i class="fa fa-plus "></i>
                                            Add Customer
                                        </button>
                                    </div>
                                </div>
                                <!-- end row -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover tabel-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>ClientID</th>
                                                        <th>Service Type</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th>Approval</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Ind in individualContacts">
                                                        <td>{{Ind.ClientID}}</td>
                                                        <td>{{Ind.ServiceType}}</td>
                                                        <td>{{Ind.Name}}</td>
                                                        <td>{{Ind.Mobile}}</td>
                                                        <td>{{Ind.ApprovalStatus}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-success" data-toggle="tab" data-target="#AddEditIndividual" ng-click="getIndividualContactDetails(Ind)">
                                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td align="center" colspan="6">
                                                            <span class="form-group pull-left page-size form-inline">
                                                                <select id="ddlPageSize" class="form-control control-color"
                                                                        ng-model="Ind_pageSizeSelected"
                                                                        ng-change="Ind_changePageSize()">
                                                                    <option value="5">5</option>
                                                                    <option value="10">10</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                </select>
                                                            </span>
                                                            <div class="pull-right">
                                                                <pagination total-items="Ind_totalCount" ng-change="Ind_pageChanged()" items-per-page="Ind_pageSizeSelected" direction-links="true" ng-model="Ind_pageIndex" max-size="Ind_maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="Ind_numPages"></pagination>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Individual tab pane -->
                            <!-- begin Corporate tab pane -->
                            <div class="tab-pane padding-10 fade" id="Corporate">
                                <!-- row -->
                                <div class="row">
                                    <div style="float:right; padding-bottom:5px;padding-right:15px;">
                                        <button class="btn btn-default" data-toggle="tab" data-target="#AddEditCorporate" ng-click="ClearAllCor()">
                                            <i class="fa fa-plus "></i>
                                            Add Corpotrate
                                        </button>
                                    </div>
                                </div>
                                <!-- end row -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover tabel-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Gender</th>
                                                        <th>Phone</th>
                                                        <th>Mobile</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="Cor in corporateContacts">
                                                        <td>{{Cor.Name}}</td>
                                                        <td>{{Cor.Phone}}</td>
                                                        <td>{{Cor.Mobile}}</td>
                                                        <td>{{Cor.Email}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-success" data-toggle="tab" data-target="#AddEditCorporate" ng-click="getCorporateContactDetails(Cor)">
                                                                <i class="ace-icon fa fa-eye bigger-120"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td align="center" colspan="5">
                                                            <span class="form-group pull-left page-size form-inline">
                                                                <select id="ddlPageSize" class="form-control control-color"
                                                                        ng-model="Cor_pageSizeSelected"
                                                                        ng-change="Cor_changePageSize()">
                                                                    <option value="5">5</option>
                                                                    <option value="10">10</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                </select>
                                                            </span>
                                                            <div class="pull-right">
                                                                <pagination total-items="Cor_totalCount" ng-change="Cor_pageChanged()" items-per-page="Cor_pageSizeSelected" direction-links="true" ng-model="Cor_pageIndex" max-size="Cor_maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="Cor_numPages"></pagination>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end Corporate tab pane -->
                            <!-- begin Group tab pane -->
                            <div class="tab-pane padding-10 fade" id="Group">
                                <div>
                                    <div id="gresponse"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <form method="post" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Group Name</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" ng-disabled="!gEdit" ng-model="GroupName">
                                                            <input type="hidden" class="form-control" value="1" ng-model="gIsAdd" />
                                                            <input type="hidden" class="form-control" ng-model="GroupID" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Description</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" ng-disabled="!gEdit" ng-model="Description">
                                                        </label>
                                                    </section>
                                                </div>

                                            </fieldset>

                                        </form>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover tabel-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Group Name</th>
                                                        <th>Description</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="grp in groups">
                                                        <td>{{grp.GroupName}}</td>
                                                        <td>{{grp.Description}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-primary" data-toggle="tab" ng-click="getGroupDetails(grp)">
                                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                            </button>
                                                            <button class="btn btn-xs btn-success" data-toggle="tab" data-target="#GroupContacts" ng-click="getGroupContacts(grp)">
                                                                <i class="ace-icon fa fa-phone bigger-120"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td align="center" colspan="3">
                                                            <span class="form-group pull-left page-size form-inline">
                                                                <select id="ddlPageSize" class="form-control control-color"
                                                                        ng-model="g_pageSizeSelected"
                                                                        ng-change="g_changePageSize()">
                                                                    <option value="5">5</option>
                                                                    <option value="10">10</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                </select>
                                                            </span>
                                                            <div class="pull-right">
                                                                <pagination total-items="g_totalCount" ng-change="g_pageChanged()" items-per-page="g_pageSizeSelected" direction-links="true" ng-model="g_pageIndex" max-size="g_maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="g_numPages"></pagination>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="Addg()" ng-disabled="gEdit1">
                                            <i class="fa fa-plus"></i>
                                            Add
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-success btn-round" ng-click="SaveEditGroup()" ng-disabled="!gEdit" style="width:100%;">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-danger btn-round" data-toggle="modal" data-target="#ConfirmGroup" ng-disabled="!gEdit3" style="width:100%;">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-warning btn-round" ng-click="Resetg()" style="width:100%;">
                                            <i class="fa fa-times-o"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end Group tab pane -->
                            <!-- AddEdit Individual tab pane -->
                            <div class="tab-pane padding-10 fade" id="AddEditIndividual">
                                <div>
                                    <button class="btn btn-xs btn-succes" data-toggle="tab" data-target="#Individual">
                                        <i class="ace-icon fa fa-arrow-left blue bigger-110 middle"></i>
                                        Back
                                    </button>
                                    <div id="Indresponse"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <form method="post" id="contact-form" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Entry</label>
                                                        <label class="select">
                                                            <select id="Entry" onchange="showDiv(this)">
                                                                <option value="New">New Customer</option>
                                                                <option value="Existing">Existing Customer</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Service Type</label>
                                                        <label class="select">
                                                            <select id="ServiceType">
                                                                <option value="USSD">USSD</option>
                                                                <option value="SMS">SMS</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row" id="ClientArea">
                                                    <section class="col col-8">
                                                        <div class="row">
                                                            <section class="col col-8">
                                                                <label class="label" style="color:blue;">Type 3 chars to Search Existing Customer</label>
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-search"></i>
                                                                    <input type="text" class="form-control autocomplete" id="ClientName">
                                                                </label>
                                                            </section>
                                                            <section class="col col-2" style="height:25px; padding-top:5px;">
                                                                <br />
                                                                <button class="btn btn-primary" style="height:25px;" ng-click="GetClientDetails()"><i class="fa fa-search"></i> Get Details</button>
                                                            </section>
                                                        </div>
                                                    </section>                                                                                        
                                                </div>
                                                <hr style="padding-bottom:15px;"/>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Name <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" name="Name" id="Name" ng-disabled="!IndEdit" ng-model="Name">
                                                            <input type="hidden" class="form-control" value="1" ng-model="IndIsAdd" />
                                                            <input type="hidden" class="form-control" ng-model="ContactID" />
                                                            <input type="hidden" class="form-control" ng-model="ClientType" value="I" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">National ID <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" name="NationalID" id="NationalID" ng-disabled="!IndEdit" ng-model="NationalID">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Gender</label>
                                                        <label class="select">
                                                            <select ng-disabled="!IndEdit" id="Gender">
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Mobile <span style="color:blue;">*</span></label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" name="Mobile" id="Mobile" ng-disabled="!IndEdit" ng-model="Mobile">
                                                        </label>
                                                    </section>
                                                </div> 
                                                <div class="row">   
                                                    <section class="col col-6">
                                                        <label class="label">Occupation</label>
                                                        <label class="select">
                                                            <select ng-disabled="!IndEdit" id="Occupation">
                                                                <option value="Other">Other</option>
                                                                <option value="Director">Director</option>
                                                            </select><i></i>
                                                        </label>
                                                    </section>
                                                                                                     
                                                    <section class="col col-6">
                                                        <label class="label">Email</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-envelope-o"></i>
                                                            <input type="email" name="Email" id="Email" ng-disabled="!IndEdit" ng-model="Email">
                                                        </label>
                                                    </section>
                                                </div>                                              
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Address</label>
                                                        <label class="textarea">
                                                            <i class="icon-append fa fa-building"></i>
                                                            <textarea rows="4" name="Address" id="Address" ng-disabled="!IndEdit" ng-model="Address"></textarea>
                                                        </label>
                                                    </section>
                                                    
                                                </div>
                                                <hr style="padding-bottom:15px;" />
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Created By</label>
                                                        <label class="input">
                                                            <input type="text" name="CreatedBy" id="CreatedBy" readonly="true" ng-model="CreatedBy">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Approved By</label>
                                                        <label class="input">                                                            
                                                            <input type="text" name="ApprovedBy" id="ApprovedBy" readonly="true" ng-model="ApprovedBy">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Modified By</label>
                                                        <label class="input">
                                                            <input type="text" name="EditedBy" id="EditedBy" readonly="true" ng-model="EditedBy">
                                                        </label>
                                                    </section>
                                                </div> 
                                                
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label">Created Date</label>
                                                        <label class="input">
                                                            <input type="text" name="DateCreated" id="DateCreated" readonly="true" ng-model="DateCreated">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Approved Date</label>
                                                        <label class="input">
                                                            <input type="text" name="DateApproved" id="DateApproved" readonly="true" ng-model="DateApproved">
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label">Modified Date</label>
                                                        <label class="input">
                                                            <input type="text" name="DateEdited" id="DateEdited" readonly="true" ng-model="DateEdited">
                                                        </label>
                                                    </section>
                                                </div>    
                                            </fieldset>

                                        </form>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="AddInd()" ng-disabled="!IndEdit1">
                                            <i class="fa fa-plus"></i>
                                            Add
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="EditInd()" ng-disabled="!IndEdit2">
                                            <i class="fa fa-pencil"></i>
                                            Edit
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-success btn-round" ng-click="SaveEditIndividualContact()" ng-disabled="!IndEdit" style="width:100%;">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>                                        
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-danger btn-round" data-toggle="modal" data-target="#ConfirmIndContact" ng-disabled="!IndEdit3" style="width:100%;">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-warning btn-round" ng-click="ResetInd()" style="width:100%;">
                                            <i class="fa fa-times-o"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- end AddEdit Individual tab pane -->
                            <!-- AddEdit Corporate tab pane -->
                            <div class="tab-pane padding-10 fade" id="AddEditCorporate">
                                <div>
                                    <button class="btn btn-xs btn-succes" data-toggle="tab" data-target="#Corporate">
                                        <i class="ace-icon fa fa-arrow-left blue bigger-110 middle"></i>
                                        Back
                                    </button>
                                    <div id="Corresponse"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <form method="post" id="contact-form" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Name</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" ng-disabled="!CorEdit" ng-model="CorName">
                                                            <input type="hidden" class="form-control" value="1" ng-model="CorIsAdd" />
                                                            <input type="hidden" class="form-control" ng-model="CorContactID" />
                                                            <input type="hidden" class="form-control" ng-model="CorClientType" id="CorClientType" value="C" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Phone</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" ng-disabled="!CorEdit" ng-model="CorPhone">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Mobile</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" ng-disabled="!CorEdit" ng-model="CorMobile">
                                                        </label>
                                                    </section>

                                                    <section class="col col-6">
                                                        <label class="label">Email</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-envelope-o"></i>
                                                            <input type="email" ng-disabled="!CorEdit" ng-model="CorEmail">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Address</label>
                                                        <label class="textarea">
                                                            <i class="icon-append fa fa-building"></i>
                                                            <textarea rows="4" ng-disabled="!CorEdit" ng-model="CorAddress"></textarea>
                                                        </label>
                                                    </section>
                                                </div>

                                            </fieldset>

                                        </form>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="AddCor()" ng-disabled="!CorEdit1">
                                            <i class="fa fa-plus"></i>
                                            Add
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="EditCor()" ng-disabled="!CorEdit2">
                                            <i class="fa fa-pencil"></i>
                                            Edit
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-success btn-round" ng-click="SaveEditCorporateContact()" ng-disabled="!CorEdit" style="width:100%;">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-danger btn-round" data-toggle="modal" data-target="#ConfirmCorContact" ng-disabled="!CorEdit3" style="width:100%;">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-warning btn-round" ng-click="ResetCor()" style="width:100%;">
                                            <i class="fa fa-times-o"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- end AddEdit Corporate tab pane -->
                            <!--Group Contacts tab pane -->
                            <div class="tab-pane padding-10 fade" id="GroupContacts">
                                <div>
                                    <button class="btn btn-xs btn-succes" data-toggle="tab" data-target="#Group">
                                        <i class="ace-icon fa fa-arrow-left blue bigger-110 middle"></i>
                                        Back
                                    </button>
                                    <div id="grcresponse"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <div id="grpName" align="center"></div>

                                        <form method="post" class="smart-form">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">Name</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-info"></i>
                                                            <input type="text" ng-disabled="!gcEdit" ng-model="gcName">
                                                            <input type="hidden" class="form-control" value="1" ng-model="gcIsAdd" />
                                                            <input type="hidden" class="form-control" ng-model="GContactID" />
                                                            <input type="hidden" class="form-control" ng-model="GrpID" />
                                                            <input type="hidden" class="form-control" ng-model="grpName" />
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Contact</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                            <input type="text" ng-disabled="!gcEdit" ng-model="gcContact">
                                                        </label>
                                                    </section>
                                                </div>

                                            </fieldset>
                                        </form>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover tabel-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Contact</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="grpc in grpcontacts">
                                                        <td>{{grpc.Name}}</td>
                                                        <td>{{grpc.Phone}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-primary" data-toggle="tab" ng-click="getGroupContactDetails(grpc)">
                                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td align="center" colspan="3">
                                                            <span class="form-group pull-left page-size form-inline">
                                                                <select id="ddlPageSize" class="form-control control-color"
                                                                        ng-model="gc_pageSizeSelected"
                                                                        ng-change="gc_changePageSize()">
                                                                    <option value="5">5</option>
                                                                    <option value="10">10</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                </select>
                                                            </span>
                                                            <div class="pull-right">
                                                                <pagination total-items="gc_totalCount" ng-change="gc_pageChanged()" items-per-page="gc_pageSizeSelected" direction-links="true" ng-model="gc_pageIndex" max-size="gc_maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="gc_numPages"></pagination>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-primary btn-round" style="width:100%;" ng-click="Addgc()" ng-disabled="gcEdit1">
                                            <i class="fa fa-plus"></i>
                                            Add
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-success btn-round" ng-click="SaveEditGroupContact()" ng-disabled="!gcEdit" style="width:100%;">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-danger btn-round" data-toggle="modal" data-target="#ConfirmGroupC" ng-disabled="!gcEdit3" style="width:100%;">
                                            <i class="fa fa-trash-o"></i>
                                            Delete
                                        </button>
                                        <div class="space-2"></div>
                                        <button class="btn btn-white btn-warning btn-round" ng-click="Resetgc()" style="width:100%;">
                                            <i class="fa fa-times-o"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end Group Contacts tab pane -->
                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
    <!-- end row -->
    <!--Remove Contact Modal -->
    <div class="modal fade" id="ConfirmIndContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <!-- PAGE HEADER -->
                        <i class="fa-fw fa fa-times"></i>
                        Remove Contact
                    </h4>
                </div>
                <div class="modal-body no-padding">

                    <form class="smart-form client-form" role="form" id="smart-form-register">

                        <fieldset>
                            <div class="row">
                                <section class="col col-12">
                                    Are you sure you want to Remove the Contact <strong> </strong>?
                                    <input type="hidden" class="form-control" name="ViolationType" value="" />
                                </section>
                            </div>

                        </fieldset>

                        <footer>
                            <button class="btn btn-sm btn-primary" ng-click="RemoveIndContact()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>

                        </footer>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /. Remove Contact  modal -->
    <!--Remove Contact Modal -->
    <div class="modal fade" id="ConfirmCorContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <!-- PAGE HEADER -->
                        <i class="fa-fw fa fa-times"></i>
                        Remove Contact
                    </h4>
                </div>
                <div class="modal-body no-padding">

                    <form class="smart-form client-form" role="form" id="smart-form-register">

                        <fieldset>
                            <div class="row">
                                <section class="col col-12">
                                    Are you sure you want to Remove the Contact <strong> </strong>?
                                </section>
                            </div>

                        </fieldset>

                        <footer>
                            <button class="btn btn-sm btn-primary" ng-click="RemoveCorContact()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>

                        </footer>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /. Remove Contact  modal -->
    <!--Remove Group Modal -->
    <div class="modal fade" id="ConfirmGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <!-- PAGE HEADER -->
                        <i class="fa-fw fa fa-times"></i>
                        Remove Group
                    </h4>
                </div>
                <div class="modal-body no-padding">

                    <form class="smart-form client-form" role="form">

                        <fieldset>
                            <div class="row">
                                <section class="col col-12">
                                    Are you sure you want to Remove the Group <strong> </strong>?
                                </section>
                            </div>

                        </fieldset>

                        <footer>
                            <button class="btn btn-sm btn-primary" ng-click="RemoveGroup()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>

                        </footer>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /. Remove Group  modal -->
    <!--Remove Group Contact Modal -->
    <div class="modal fade" id="ConfirmGroupC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <!-- PAGE HEADER -->
                        <i class="fa-fw fa fa-times"></i>
                        Remove Record
                    </h4>
                </div>
                <div class="modal-body no-padding">

                    <form class="smart-form client-form" role="form">

                        <fieldset>
                            <div class="row">
                                <section class="col col-12">
                                    Are you sure you want to Remove the Record?
                                </section>
                            </div>

                        </fieldset>

                        <footer>
                            <button class="btn btn-sm btn-primary" ng-click="RemoveGroupContact()" data-dismiss="modal">
                                Yes
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>

                        </footer>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /. Remove Group Contact modal -->

</section>
<!-- end widget grid -->
@*@Scripts.Render("~/scripts/crm")*@
<script src="../../Angular/CRM/Contacts.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-1.10.2.js"></script>
<script src="../../Assets/plugins/autocomplete/jquery-ui.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ClientName").autocomplete(
            { minLength: 3 },
            {
            source: function (request, response) {
                $.ajax({
                    url: "/CRM/BantuClientsOption",
                    type: "GET",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.ClientID + " " + item.Name, value: item.ClientID };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })

    function showDiv(elem) {
        if (elem.value == 'Existing') {
            $("#ClientArea").show();
        }
        else if (elem.value == 'New') {
            $("#ClientArea").hide();
        }
        else {

        }
    }

</script>