﻿@model ExtraPortal.Models.CategorySmsModel

@{
    ViewBag.Title = "Category";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="contactsApp" ng-controller="contactsCtrl">
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#BranchWise"><i class="fa fa-bank"></i> <span class="hidden-mobile hidden-tablet">Branch Wise </span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#ProductWise"><i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product Wise </span></a>
                        </li>

                    </ul>
                </header>
                <!-- widget div-->
                <div class="no-padding">

                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <!-- begin Individual tab pane -->
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="BranchWise">
                                <form class="class=" form-horizontal"">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Branch</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.OurBranchID,
                                                new SelectList(Model.BranchList, "OurBranchID", "BranchName"),
                                                new { @class = "js-example-basic-single", @style = "width:100%;" })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Address"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                            <!-- end Individual tab pane -->
                            <!-- begin Corporate tab pane -->
                            <div class="tab-pane padding-10 fade" id="ProductWise">
                                <form class="class=" form-horizontal"">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Product</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ProductID,
                                                new SelectList(Model.productlist, "ProductID", "Description"),
                                                new {@class = "js-example-basic-single", style="width: 100%;"})                                                
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Address"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                            <!-- end Corporate tab pane -->

                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
    <!-- end row -->

</section>
<!-- end widget grid -->
