﻿@model ExtraPortal.Models.CustomSMSModel

@{
    ViewBag.Title = "CustomSMS";
}

<!-- widget grid -->
<section id="widget-grid" class="" ng-app="contactsApp" ng-controller="contactsCtrl">
    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <ul class="nav nav-tabs pull-left in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#Individual"><i class="fa fa-user"></i> <span class="hidden-mobile hidden-tablet">Individual </span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Corporate"><i class="fa fa-briefcase"></i> <span class="hidden-mobile hidden-tablet">Corporate </span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Bantu"><i class="fa fa-desktop"></i> <span class="hidden-mobile hidden-tablet">Bantu </span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#Group"><i class="fa fa-users"></i> <span class="hidden-mobile hidden-tablet">Groups </span></a>
                        </li>
                    </ul>
                </header>
                <!-- widget div-->
                <div class="no-padding">

                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <!-- begin Individual tab pane -->
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="Individual">
                                @using (Html.BeginForm("SendIndividualSMS", null, FormMethod.Post, new { @class = "form-horizontal"}))
                                {
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Contact</label>                                            
                                            <div class="col-md-10">
                                                @Html.DropDownList("IndividualContactID",
                                                new MultiSelectList(Model.individualContact, "ContactID", "Name"),
                                                new{ @class = "js-example-basic-multiple", @style = "width:100%;", multiple = "true" })     

                                                

                                                @*@Html.DropDownListFor(model => model.IndividualContactID,
                                                 new MultiSelectList(Model.individualContact, "ContactID", "Name"),
                                                 new { @class = "js-example-basic-multiple", @style = "width:100%;", multiple = "true" })*@
                                                
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>                                            
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Message"></textarea>
                                            </div>
                                        </div>
                                      

                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>
                                        
                                    </footer>                                    
                                }
                            </div>
                            <!-- end Individual tab pane -->
                            <!-- begin Corporate tab pane -->
                            <div class="tab-pane padding-10 fade" id="Corporate">
                                <form class="class=" form-horizontal"">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Corporate</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CorporateContactID,
                                                new SelectList(Model.corporateContact, "ContactID", "Name"),
                                                new { @class = "js-example-basic-single", @style = "width:100%;", multiple = "multiple" })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Address"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                            <!-- end Corporate tab pane -->
                            <!-- begin Bantu tab pane -->
                            <div class="tab-pane padding-10 fade" id="Bantu">
                                <form class="class=" form-horizontal"">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Corporate</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.CorporateContactID,
                                                new SelectList(Model.Bcsm, "ClientID", "Name"),
                                                new { @class = "js-example-basic-multiple", @style = "width:100%;", multiple = "multiple" })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Address"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                            <!-- end Bantu tab pane -->
                            <!-- begin Group tab pane -->
                            <div class="tab-pane padding-10 fade" id="Group">
                                <form class="class=" form-horizontal"">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Group</label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.GroupContactID,
                                                new SelectList(Model.groupContact, "ContactID", "Name"),
                                                new { @class = "js-example-basic-single", @style = "width:100%;", multiple = "multiple" })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Message</label>
                                            <div class="col-md-10">
                                                <textarea rows="4" class="form-control" name="Address"></textarea>
                                            </div>
                                        </div>


                                    </fieldset>
                                    <footer align="right">
                                        <div class="form-actions">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-send"></i>
                                                Send
                                            </button>
                                        </div>

                                    </footer>

                                </form>
                            </div>
                            <!-- end Group tab pane -->                           
                            
                        </div>
                        <!-- end content -->
                    </div>
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
    <!-- end row -->   

</section>
<!-- end widget grid -->

